@model FinalWeb.Models.Socios

@{
    
}

<h2>Detalles</h2>

<div>
    <h4>Socios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Foto)*@
            <img width="100" src="@Url.Action("buscarImagen", "Socios", new { id = Model.SociosID})" alt="imagen_socio" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afiliados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afiliados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membresia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membresia)
        </dd>

        <dt>
            @Html.DisplayName("Lugar de trabajo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarTrabajo)
        </dd>

        <dt>
            @Html.DisplayName("Direccion oficina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOficina)
        </dd>

        <dt>
            @Html.DisplayName("Telefono oficina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoOficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayName("Fecha ingreso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayName("Fecha salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SociosID }) |
    @Html.ActionLink("Volver a socios", "Index")
</p>
